@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Josefin+Sans&display=swap');


:root {
    --navyblue: #64ffda;
    --head: #ccd6f6;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8892b0;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #61687c;
}

body {
    background: #0a192f;
    font-family: 'Roboto Slab', serif;
}

.home {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.logo {
    color: var(--navyblue);
    margin: 20px;
    position: relative;
    right: 150px;
}

.logo>span {
    color: whitesmoke;
}

nav {
    position: relative;
    left: 80px;

}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav>ul>li {
    padding: 10px 25px;
    font-family: 'Roboto Slab', serif;
    position: static;
}

nav>ul>li>a {
    font-size: 12px;
    color: var(--navyblue);
    text-decoration: none;
}

nav>ul>li>a>span {
    color: #8892b0;
}

nav>ul>li>a:hover,
nav>ul>li>a>span:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: var(--navyblue);
}

nav>ul>li:hover {
    color: var(--navyblue);
}


.hero {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5 em;
    margin: auto;
    margin-top: 50px;
    width: 75%;
    padding: 10px;

}

.hero>p {
    color: var(--navyblue);
    padding: 10px;
    font-size: 1.1em;
    font-family: 'Fira Code', monospace;
}

.hero>h1 {
    padding: 10px;
    color: var(--head);
    font-size: 4.2em;
}

.bio,
.hero>h2 {
    font-size: 3.2em;
    padding: 10px;
    color: #73798b;
}

.bio {
    width: 70%;
    font-size: 1.1em;
    line-height: 25px;
}

button.resume {
    margin-top: 30px;
    padding: 15px 25px;
    border: 1px var(--navyblue) solid;
    background: none;
    color: var(--navyblue);
    border-radius: 5px;
    cursor: pointer;
}

button.resume:hover {
    background: #64ffdb13;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button.resume>a {
    color: var(--navyblue);
    text-decoration: none;
}

/* ********************About************************ */

#about {
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    margin: auto;
    width: 70%;
    padding-top: 75px;
}
.aboutBody{
    display: flex;
    justify-content: space-between;
}
.about_head {
    color: var(--navyblue);
    font-size: 1.4em;
}

.about_head>span {
    color: var(--head);

    font-weight: bold;
}

.about_head::after {
    content: "";
    display: block;
    position: relative;
    top: -12px;
    width: 300px;
    height: 1px;
    margin-left: 150px;
    background-color: #ccd6f638;
    
}

.bio_self {
    margin-top: 35px;
    width: 30vw;
    height: 70vh;
    font-size: 1em;
    line-height: 25px;
    color: #73798b;
    line-height: 20px;
}
.bio_self>p{
    margin:0px 0px 15px;        

}

.languages_list{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px 12px;
    line-height: 25px;
    list-style: none;
}

ul.languages_list>li::before {
  content: "\2022";
  color: var(--navyblue);
  font-weight:500;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.imgContain{
    padding: 25px 0;
}
.img_self img{
    width: 25vw;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
}
.img_self::before{
    content:'';
    border:2px solid var(--navyblue);
    border-radius: 6px;
    position:absolute;
    margin: 5vh 0 0 3vw;
    z-index: -1;;
    width:25vw;
    height:25vw;
}

.img_self::before:hover{
    height:250vw;
    
    }